<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="auction">
	<insert id="addmian" parameterType="amainvo">
		insert into actmain values(actmain_seq.nextVal,#{bid},#{byongdo},#{baddra},#{baddrb},#{bzipcode},#{bweight},#{tweight},0,sysdate,null)
	</insert>
	<insert id="addde" parameterType="adevo">
		insert into actmainde values(actmainde_seq.nextVal,actmain_seq.currVal,#{managepee},#{bplan},#{wimage},#{imagea},#{imageb},#{imagec},sysdate,null)
	</insert>
	<insert id="addip" parameterType="aipvo">
		insert into ipchal values(ipchal_seq.nextVal,actmain_seq.currVal,TO_DATE(#{enddate},'YYYY-MM-DD HH:MI:SS'),#{ipdanwe},#{ideprice},0,#{subject},#{text},sysdate,null)
	</insert>
</mapper>



