<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="search">
	<select id="list" resultType="cpvo" >
		select * from (select rownum r_num, a.* from (select * from product order by num desc) a ) where r_num between #{start} and #{end}
	</select>
	<select id="list2" resultType="cpvo" >
		select * from (
		select rownum r_num, a.* from
		(
		select * from product
		<if test="searchType != null">
			<where>
				<choose>
					<when test="searchType == 1">
						tradtpcd = #{searchValue}
					</when>
					<when test="searchType == 2">
						location like '%'|| #{searchValue} ||'%'
					</when>
					<when test="searchType == 3">
						atclfetrdesc like '%'|| #{searchValue} ||'%'
					</when>
				</choose>
			</where>
		</if>
		order by num desc
		) a
		) where r_num between #{start} and #{end}
	</select>
	<select id="totalCount" resultType="int" >
		select count(*) cnt from product
		<if test="searchType != null">
			<where>
				<choose>
					<when test="searchType == 1">
						tradtpcd = #{searchValue}
					</when>
					<when test="searchType == 2">
						location like '%'|| #{searchValue} ||'%'
					</when>
					<when test="searchType == 3">
						atclfetrdesc like '%'|| #{searchValue} ||'%'
					</when>
				</choose>
			</where>
		</if>
	</select>
</mapper>



