<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="semiproject.mvc.vo.CommunityVO"
			alias="comuVO" />
		<typeAlias type="semiproject.mvc.vo.BoardPageVO"
			alias="bpvo" />
		<typeAlias type="semiproject.mvc.vo.BoardVO" alias="bvo" />
		<typeAlias type="semiproject.mvc.vo.DataVO"
			alias="commercial" />
		<typeAlias type="semiproject.mvc.vo.MyPageVO"
			alias="mypagevo" />
		<typeAlias type="semiproject.mvc.vo.PaymentVO"
			alias="paymentvo" />
		<typeAlias type="semiproject.mvc.vo.AuctionAddMainVO"
			alias="amainvo" />
		<typeAlias type="semiproject.mvc.vo.AuctionAddDeVO"
			alias="adevo" />
		<typeAlias type="semiproject.mvc.vo.AuctionAddIpVO"
			alias="aipvo" />
		<typeAlias type="semiproject.mvc.vo.AuctionPageVO" alias="aviewpage" />
		<typeAlias type="semiproject.mvc.vo.AuctionViewVO" alias="aviewmain" />		
		<!--경매 config 종료  -->
		<typeAlias type="semiproject.mvc.vo.CommercialProductVO"
			alias="cpvo" />
		<typeAlias type="semiproject.mvc.vo.UserVO" alias="uservo" />
		<typeAlias type="semiproject.mvc.vo.SignUpVO"
			alias="signVO"/>	
		<typeAlias type="semiproject.mvc.vo.Member_DetailVO"
			alias="member_detailvo" />
		<typeAlias type="semiproject.mvc.vo.Payment_DetailVO"
			alias="payment_detailvo" />
			<typeAlias type="semiproject.mvc.vo.PageVO"
			alias="pvo" />
	</typeAliases>

</configuration>